# Titanic Regression Analysis + train / test methodology improvement

In [1]:
import pandas as pd 
import numpy as np
from pandas import Series, DataFrame
import seaborn as sns

In [23]:
import matplotlib.pyplot as plt
%matplotlib inline

import re

## Data Exploration

In [3]:
train = pd.read_csv(r'train.csv')
test = pd.read_csv(r'test.csv')

In [4]:
index = train['PassengerId']
data = [train, test]

In [5]:
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [19]:
# feature extraction 
for dataset in data:
    dataset['Has_Cabin'] = dataset["Cabin"].apply(lambda x: 0 if type(x) == float else 1)
    dataset['Family_Size'] = dataset['SibSp'] + dataset['Parch'] + 1
    #is alone 
    dataset['Alone'] = (dataset['Family_Size'] == 1)
    dataset['Embarked'] = dataset['Embarked'].fillna('S')
    
    # you can turn age and fare into categorical age / fare 
    
    # fill in fare 
    dataset['Fare'] = dataset['Fare'].fillna(dataset['Fare'].median())

In [21]:
train.head(3)

train['Categorical_Fare'] = pd.cut(train['Fare'], 4)

In [22]:
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Has_Cabin,Family_Size,Alone,Categorical_Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,2,False,"(-0.512, 128.0823]"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,2,False,"(-0.512, 128.0823]"
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1,True,"(-0.512, 128.0823]"

In [29]:
# get the title 
def get_name(name):
    # this is the function for the each name 
    match = re.search('([A-Za-z]+)\.', name)
    if match:
        return match.group(1)
    return ""

In [30]:
train['Title'] = train['Name'].apply(get_name)

In [32]:
train.Title.value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Col           2
Major         2
Mlle          2
Countess      1
Ms            1
Lady          1
Jonkheer      1
Don           1
Mme           1
Capt          1
Sir           1
Name: Title, dtype: int64